@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
   
}

main {
    background-color: rgb(238, 204, 244);
}


body,h3,h1, p{
    font-family: 'Russo One', sans-serif;
    background-color: rgb(238, 204, 244);
    max-width: auto;
}

.flex-center {
    justify-content: center !important;
}

.entire-list {
    border-color: rgb(1, 212, 142);
    padding: 10rem;
    background-color: rgb(132, 132, 189);
    margin-top: 5rem;


}



#topFive-header{
   background-color:  rgb(238, 204, 244);
}

#topFive-list {
display: flex;




}

.card {
    
    border-radius: 18px;
    background: linear-gradient(90deg, rgb(247, 165, 233) 0%, rgb(242, 222, 241)100%);
    border-radius: 4px;
    padding:auto;
    
   
    
    
  
    
    
    
}
    









